<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/css/awsm.css">
</head>
<body>
<header>
    <h1>Todo App</h1>
    <nav>
        <ul>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/groups">Task groups</a>
            </li>
            <li>
                <a href="/tasks.html">Tasks</a>
            </li>
        </ul>
    </nav>

    <div sec:authorize="isAuthenticated()">
        <form style="text-align: center" th:action="@{logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>

    <div sec:authorize="isAnonymous()">
        <a href="/register">Register</a>
    </div>
</header>
</body>
</html>
